*{
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    
}
body{
    background-color: #0a2e5a;
}
.container{
    position: relative;
}


.flex__container--he{
    
    display: flex;
    background-color: rgb(49, 129, 155);
    justify-content: space-between;
    z-index: 100;
    
    
}
h1{
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(7, 7, 7), 3px 3px 30px rgb(240, 240, 240), ;
    text-transform: lowercase;
}
.flex__item{
    margin: 5px;
}
#logo{
    background-color: rgb(34, 81, 81);
    margin: 0%;
    
}
#logo h1{
    color:yellowgreen;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10;
}


#ayuda{
    display: flex;
    justify-content: space-between;
}
nav ul{

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0%;
    padding: 0%;
    color: rgb(23, 59, 59);
    
    
}
nav ul li{
    padding: 15px;
}
nav ul :nth-child(3){
    background-color: darkslategray;
    font-size: 0px;
    height: 64px;
}

aside{
    transition: all 1s ;
}

#flex__container--aside{
    opacity: 100%;
    background-color: darkslategray;
    position: absolute;
    top: 64px;
    right: 0px;
    box-shadow: 0px 5px 5px 5px rgb(79, 111, 121);
    z-index: 50;  

}
aside ul{
    list-style-type: none;
    
}
aside ul li{
    padding: 20px 40px 20px 5px;
    
    color: rgb(169, 215, 206);
    font-weight: bold;
    font-family: 'Public Sans', sans-serif;
    
}


main{
    /* position: absolute; */
    top: 70px;

    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    
    background: url("../img/fondos/ajax.jpg");
    background-size: cover;
    background-position: center;
   /*  background-repeat: no-repeat; */
    object-fit: cover;

}

@media screen and (max-width:1100px){
    #pie p{
        display: none;
        
    }
    .contain__item{
        padding: 1em;
    }

}

@media screen and (max-width:720px){
    #logo h1{
        display: none;
    }

}
.fondo{
    padding-left: 20px;
    
}
.texto{
    opacity: 80%;
}

.contain__section{
    display: flex;
    flex-direction: column;
}
.contain__item{
    height: auto;
    text-align: center;
    font-size: 50px;
    background: linear-gradient(#0b223c, #0a2e5a, #031c3a);
    opacity: 80%;
    margin: 5% 25%;
    padding: 0%;
    border-radius: 5px;
    
}

@media screen and (max-width:900px){
    .contain__item{
        margin: 0%;
        
    }

}
fieldset{
    margin-top: 40px;
    padding: 10px;
    border: 2px solid#041d3c;;
    border-radius: 5px;
    
}
.titulo{
    color: #a1687c;
}
.descripcion{
    font-size: 30px;
    color: aliceblue;
}
label{
    display: block;
    font-size: 30px;
}
[type="text"]{
    background-color: #0a2e5a;
    padding: 20px 0px 0px;
    border: none;
    border-bottom: 2px solid #041d3c;
    font-size: 30px;
    
    
}
[type="number"]{
    
    
    max-width: 90px;
    margin-left: 9px;
    background-color: #0a2e5a;
    padding: 20px 0px 0px;
    border: none;
    border-bottom: 2px solid #041d3c;
    font-size: 40px;
    
    
}

#inpAjax{
    background-color:#0a2e5a;
    font-size: 30px;
}

#inpAjax:focus{
    background-color: rgb(204, 204, 204);
    font-size: large;
    padding-left: 5px;
    width: 100%;
}

[type="button"]{
    font-size: 30px;
    background: linear-gradient(#384848, #444346, #0c2039);
    color: rgb(176, 181, 180);
    border: 1px solid #959595;
    line-height: 2;
    border-radius: 5px;
}
[type="button"]:hover{
    background:linear-gradient(#4f6969, #605d67, #043269) ;
}

.http__code--container{
    width: auto;
    margin-left: auto;
    margin-right: auto;

}

#http__response{
    font-size: 35px;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
    background-color: rgb(79, 111, 121);
    text-decoration: none;
    /* -webkit-text-stroke: 1px rgb(189, 243, 254); */
    /* color: transparent;  */

}

.ajax__response--container{
    font-size: 20px;
    color: rgba(120, 185, 204, 0.984);
    border: 2px solid rgb(105, 114, 160);
    border-radius: 5px;
    background-color: #002971;
    margin-top: 10px;
    
}
#ajax__response{
    font-size: 20px;
    color: azure;
    list-style-type: none;
    padding-left: 0px;
    margin: auto;
}
.state__container{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#state__peticion{
    font-size: 35px;
    color: yellowgreen;
    padding: 5px;
    margin: 5px;
    background-color: rgb(79, 111, 121);
}

#pie{
    display: flex;
    justify-content: center;
    width: 100%;
    /* position: absolute; */
    bottom: 0%;
    opacity: 70%;
    background-color: black;
    border-top: solid 1px white;
    
    

    

}
#pie p{
    color: rgb(224, 180, 170);
    font-size: 30px;
    float: left;
    margin: 90px 100px;
    
}



